@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');

@import "tailwindcss";

@theme {
  --font-rounded: "M PLUS Rounded 1c", "Arial", sans-serif;

  --color-brand-lime: #C2F217;
  --color-dark-bg: #0A0A0A;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "M PLUS Rounded 1c", sans-serif; 
}
html {
  scroll-behavior: smooth;
}